@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
    overflow-x: hidden;
    cursor: url("images/cursor.png"), default;
}

body{
    display: flex;
    flex-direction: column;
}

/* primeira parte */

.nav1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.nav1 h1{
    display: none;
}

#etec{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
    filter: blur(0px) saturate(100%);
}

#camp{
    margin-top: 5%;
    z-index: 2;
    position: absolute;
    width: 500px;
}

#fut{
    z-index: 3;
    position: absolute;
    width: 20%;
    margin-bottom: 300px;
}

/* seguunda parte */

.nav2{
    width: 100%;
    height: 100vh;
    display: flex;
}

.d1{
    z-index: 2;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d2{
    z-index: 2;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#street{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
}

#wood{
    z-index: 3;
    width: 80%;
}

.text{
    color: white;
    width: 25%;
    position: absolute;
    z-index: 4;
}

.text h1{
    font-size: 30pt;
    margin-bottom: 20px;
}

.text p{
    font-size: 18pt;
    margin-bottom: 10px;
}

/* terceira parte */

.nav3{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav3 h1{
    display: none;
}

.nav3 div{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav3 div img{
    width: 300px;
}

#divimg:hover{
    width: 400px;
}

.d3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100vh;
}

.d4{
    width: 40%;
    height: 100vh;
}

.d3-4{
    width: 20%;
    height: 100vh;
}

.golfe{
    background-color: rgb(219, 153, 90);
    border-bottom: 20px solid rgb(151, 99, 50);
}

.golfe img{
    width: 5%;
    margin-left: 130vw;
    animation: golfe 5s infinite;
}

@keyframes golfe{
    0%{
        transform: translateX(-140vw);
    }
    100%{
        transform: translateX(0%);
    }
}

/* quarta parte */

.nav4{
    display: flex;
    color: white;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: rgb(26, 26, 26);
    border-bottom: 50px rgb(219, 153, 90);
}

.text4{
    width: 70%;
    margin-bottom: 50px;
}

.text4 h1{
    font-size: 40pt;
    margin-bottom: 50px;
}

.text4 p{
    font-size: 20pt;
}

.d5{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d5 img{
    width: 200px;
}

.d5 img:hover{
    width: 250px;
}

.d6{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d6 img{
    width: 450px;
}

/* quinta parte */

.nav5{
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    color: white;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: rgb(26, 26, 26);
}

.text5{
    text-align: center;
    width: 70%;
    margin-bottom: 50px;
}

.text5 h1{
    font-size: 40pt;
    margin-bottom: 50px;
}

.text5 p{
    font-size: 20pt;
}

.d7{
    text-align: center;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d7 img{
    width: 100px;
}

.d7 img:hover{
    width: 250px;
}

.d8{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d8 img{
    width: 450px;
}

/* footer */

footer{
    bottom: 0;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    position: fixed;
}

a{
    overflow: hidden;
}

footer img{
    margin: 10px;
    width: 50px;
    height: 50px;
}

footer a img{
    overflow: hidden;
    margin: 10px;
    width: 50px;
    height: 50px;
}

/* media screens */

@media screen and (max-width: 1280px){

    .text{
        overflow: hidden;
        height: 30;
    }

    .text p{
        font-size: 15pt;
    }

    .nav3{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .divs{
        display: flex;
        flex-direction: row;
    }
    
    .nav3 h1{
        font-size: 80pt;
        color: white;
        display: block;
    }

    .d3-4{
        width: 0%;
        height: 0%;
    }

    .d3{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 100vh;
    }

    .d4{
        width: 40%;
        height: 100vh;
    }

    #divimg{
        width: 300px;
    }

    #divimg:hover{
        width: 300px;
    }

}

@media screen and (max-width: 1240px){

    .text{
        overflow: hidden;
        height: 40%;
    }

    .text p{
        font-size: 11pt;
    }

    #fut{
        width: 200px;
    }

    #camp{
        width: 400px;
    }

    .nav2{
        height: 100vh;
    }

    .fisicos img, .digitais img{
        width: 100%;
    }

}

@media screen and (max-width: 1090px){

    .text{
        margin-top: 100px;
        overflow: hidden;
        height: 40%;
    }

    .text h1{
        font-size: 25pt;
    }

    .text p{
        font-size: 9pt;
    }

}

@media screen and (max-width: 1024px){

    .text{
        height: 25;
    }

}

@media screen and (max-width: 700px){

    .text h1{
        font-size: 20pt;
        width: 70%;
    }

    .jogos{
        margin-top: 10vh;
    }
    
    #divimg{
        width: 200px;
    }

    #divimg:hover{
        width: 200px;
    }

    .text4{
        height: 40vh;
    }
    
    .nav4{
        padding-top: 5vh;
        height: 110vh;
    }

}


@media screen and (max-width: 620px){

    .nav4{
        overflow: hidden;
        flex-direction: column;
    }

    .text4{
        overflow: hidden;
    }
    
    .d5{
        overflow: hidden;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50vh;
    }

    .d6{
        width: 100%;
        height: 50vh;
    }

}

@media screen and (max-width: 600px){

    .nav1{
        background-color: rgb(70,70,70);
        height: 80vh;
        border-bottom: 1px solid rgb(70,70,70);
    }

    .nav1 h1{
        font-size: 80pt;
        display: block;
        color: white;
        text-shadow: black 5px 5px 5px;
    }

    .nav1 img{
        display: none;
    }

    .nav2{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .d1{
        z-index: 3;
        position: absolute;
        width: 100%;
        margin-bottom: 300px;
    }

    #fut{
        width: 300px;
    }

    #camp{
        width: 400px;
    }

    .d2{
        width: 100%;
    }

    .d2 #wood{
        margin-top: 500px;
        z-index: 2;
        position: absolute;
        width: 100%;
    }

    .text{
        position: absolute;
        margin-top: 500px;
        width: 70%;
    }

    .nav3{
        height: 70vh;
    }

    .d5 img:hover{
        width: 200px;
    }

}

@media screen and (max-width: 500px){

    .text{
        margin-top: 80vh;
    }

}
