@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
    cursor: url("../images/cursor.png"), default;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 26);
}

.voltar img{
    
    position: absolute;
    width: 50px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background: rgb(102, 47, 15);
    border: 5px solid rgb(151, 81, 40);
}

h1{
    color: white;
    font-size: 50pt;
    text-transform: uppercase;
}

nav header img{
    width: 50px;
}

.calendar{
    display: flex;
    flex-direction: column;
}

.calendar table{
    font-size: 20pt;
    border-collapse: collapse;
}

.calendar thead{
    background-color: antiquewhite;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 5px solid red;
}

.calendar td{
    background-color: antiquewhite;
    height: 71.4px;
    text-align: center;
    width: 71.4px;
}

.calendar tbody td:hover{
    background-color: rgb(201, 185, 165);
    color: black;
}

.calendar table .dia-atual{
    background-color: red;
    color: white;
}

.calendar .mes-anterior, .calendar .proximo-mes{
    color: rgb(211, 211, 211);
}

.calendar .mes-anterior:hover, .calendar .proximo-mes:hover{
    color: white;
    background-color: rgb(238, 228, 214);
}

.event{
    position: relative;
}

.event:after{
    content: '';
    width: 7px;
    height: 7px;
    left: 50%;
    bottom: 7px;
    margin: -3.5px 0 0 -3.5px;
    background-color: red;
    position: absolute;
}

.event:hover::after{
    background-color: white;
}

.event.dia-atual:after{
    background-color: white;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 30pt;
    margin-top: 20px;
    color: white;
}